body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #95C6E4, #6078A6);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #9AC7F6, #6B98D1);
}

h1 {
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 28px;
}

.input-container {
    margin-top: 20px;
    text-align: left;
}

label {
    display: block;
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #FFB6C1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FFA07A;
}

.result-container {
    margin-top: 20px;
}

#result {
    font-size: 18px;
    color: #fff;
}
